snippet ! "" b
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>$1</title>
</head>
<body>
  $0
</body>
</html>
endsnippet

snippet link "" b
<link rel="${1:stylesheet}" href="$0">
endsnippet
